*.egg-info
*.hex
*.pyc
.ropeproject
docs/build
dist/*
build/*
*/*_pb2.py
lib/TeensyMinimalRpc/library.properties
lib/TeensyMinimalRpc/src/TeensyMinimalRpc.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/*_pb.*
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/Properties.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/Commands.h
lib/TeensyMinimalRpc/src/TeensyMinimalRpc/CommandProcessor.h
src/RPCBuffer.h
src/NodeCommandProcessor.h
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
.ipynb_checkpoints
*~
*.swp
.project
.pydevproject
teensy_minimal_rpc/ADC.py
teensy_minimal_rpc/DMA.py
teensy_minimal_rpc/PIT.py
teensy_minimal_rpc/SIM.py
teensy_minimal_rpc/node.py
teensy_minimal_rpc/config.py
teensy_minimal_rpc/state.py
*.exe
.idea
.pio