include COPYING
include README.md
include build_flags.py
include file_handler.py
include setup.py
recursive-include teensy_minimal_rpc *
recursive-exclude teensy_minimal_rpc *.pyc
recursive-exclude teensy_minimal_rpc *.o
recursive-exclude teensy_minimal_rpc *.exe
recursive-exclude teensy_minimal_rpc .ipynb_checkpoints/*
exclude .DS_Store
recursive-exclude teensy_minimal_rpc .DS_Store
recursive-exclude teensy_minimal_rpc/notebooks *.exe
recursive-exclude teensy_minimal_rpc/notebooks *.pdf
recursive-exclude teensy_minimal_rpc/notebooks *.jpg
include versioneer.py
include teensy_minimal_rpc/_version.py
